{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block body %}
    <h1>Blog</h1>
    <h2>Catégorie / {{ category.title }}</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
        {% for post in posts %}
            {% include '_partials/post/card.html.twig' with { post: post } only %}
        {% endfor %}
    </div>
{% endblock %}
